*{
    margin: 0;
    padding: 0%;
    padding-top: 0%;
    margin-top: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
body{
    background: #f4f6fb;
}

.navbar{
    max-width: 1100px;
    margin-top: 20px ;
    margin-bottom: 0px;
    margin-left: 130px;
    margin: 20px auto; 
    background: #fff;
    padding: 18px 40px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 600;
}

.navbar nav a{
    margin-left: 25px;
    color: #333;
    font-size: 14px;
}

.navbar nav a:hover{
    color: #4a6cf7;
}
.hero{
    max-width: 1100px;
    margin: 1px auto;
    background: #fff;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text h1 {
  font-size: 42px;
  line-height: 1.3;
  color: #111;
}
.hero-text span {
  color: #4a6cf7;
}

.home-description{
    font-size: 20px;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 22px;
  background: #4a6cf7;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}
.contact-nav{
     display: inline-block;
  margin-top: 20px;
  padding: 10px 22px;
  background: #4a6cf7;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;

}
.socials {
  margin-top: 30px;
}

.socials a {
  margin-right: 15px;
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.hero-image .blob {
  width: 300px;
  height: 300px;
  background: #4a6cf7;
  border-radius: 60% 40% 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image img {
  width: 310px;
  border-radius: 50%;
}







.section {
  max-width: 1100px;
  margin: 60px auto;
  background: #fff;
  padding: 60px;
  border-radius: 20px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #111;
}

.section p {
  color: #555;
  line-height: 1.6;
}

.skills-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.skills-list li {
  background: #f4f6fb;
  padding: 10px 20px;
  border-radius: 8px;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  height: 140px;
  background: #f4f6fb;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}